table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  width: 20%;
  padding-left: 10px;
}

#pageInfo span {
  margin-left: 10px;
}

button, input {
  margin: 10px;
}

#prevNextBtns, #searchInputs {
  text-align: center;
  margin-top: 15px;
}

#searchInputs {
  text-align: right;
}
