<h2><b>Restaurants</b></h2>
<div id="pageInfo" *ngIf="restaurants && restaurants.page">
  <span><b>Total: </b>{{restaurants.page.totalElements}}</span>
  <span><b>Current Page: </b>{{restaurants.page.number + 1}}</span>
  <span><b>API Time: </b>{{apiFetchTime / 1000}} seconds</span>
</div>
<div id="searchInputs">
  <form>
  <span><b>Search<span style="color:red"> *</span> </b></span>
  <input type="text" (keyup.enter)=onCityEntered($event.target) id="city" placeholder="City Name Eg: Georgia"/>
  <input type="text" (keyup.enter)=onCuisineSSearch($event.target) id="cuisine" placeholder="Cuisine Eg: Italian"/>
  </form>
</div>
<table *ngIf="restaurants && restaurants.content">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Cuisines</th>
    <th>Menu</th>
    <th>Recommendation</th>
  </tr>
  <tr *ngFor="let r of restaurants.content">
    <td>{{r.name}}</td>
    <td>{{r.address}}</td>
    <td>{{r.cuisines}}</td>
    <td>{{r.formattedMenu}}</td>
    <td>{{r.recommendations}}</td>
  </tr>
</table>
<table *ngIf="!restaurants || !restaurants.content">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Cuisines</th>
    <th>Menu</th>
    <th>Recommendation</th>
  </tr>
</table>

<div id="prevNextBtns">
<button (click)="prev()">
  Prev
</button>
<button (click)="next()">
  Next
</button>
</div>
